mmh3==2.5.1
pytest==6.1.2
flatten_json==0.1.7
xgboost==1.2.0
Cython==0.29.14
pandas==1.1.2
numpy==1.19.2
treelite==0.93
m2cgen==0.9.0
frozendict==1.2
setuptools==50.3.0
simplejson==3.17.2
requests==2.24.0
coremltools==3.0
scikit_learn==0.23.2
wheel==0.36.2